<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<ul>
  <li>{{arr[0]}}</li>
  <li>{{arr[1]}}</li>
  <li>{{arr[2]}}</li>
  <li>{{arr[3]}}</li> -->
<!-- <li *ngFor="let one of arr;let i=index">
    {{one}}
    <span style="color:brown;cursor: pointer;" (click)="removeTask(i) ">Remove</span>
  </li>
</ul>
<input type="text" [(ngModel)]="newTask" name="task" placeholder="Add your New Task">
<button (click)="addNewTask()" style="cursor:pointer">add</button>
<h3>Student Array</h3> 

 <app-student-table></app-student-table> -->
<!-- <app-layout></app-layout> -->

<!-- <label>{{newTask}}</label>
   <app-blank-layout></app-blank-layout> -->
<!-- <marquee>Welcome to my Adda</marquee> -->

<router-outlet>

</router-outlet>