<div id="wrapper" class="mm-page mm-slideout">

  <proj-header></proj-header>



  <!-- Titlebar
================================================== -->
  <div class="
  single-page-header" data-background-image="images/single-task.jpg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="single-page-header-inner">
            <div class="left-side">
              <div class="header-image"><a href="single-company-profile.html"><img src="images/browse-companies-02.png"
                    alt=""></a></div>
              <div class="header-details">
                <h3>Food Delivery Mobile Application</h3>
                <h5>About the Employer</h5>
                <ul>
                  <li><a href="single-company-profile.html"><i class="icon-material-outline-business"></i> Acue</a></li>
                  <li>
                    <div class="star-rating" data-rating="5.0"><span class="star"></span><span class="star"></span><span
                        class="star"></span><span class="star"></span><span class="star"></span></div>
                  </li>
                  <li><img class="flag" src="images/flags/de.svg" alt=""> Germany</li>
                  <li>
                    <div class="verified-badge-with-title">Verified</div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="right-side">
              <div class="salary-box">
                <div class="salary-type">Project Budget</div>
                <div class="salary-amount">$2,500 - $4,500</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="background-image-container" style="background-image: url(&quot;images/single-task.jpg&quot;);"></div>
  </div>


  <!-- Page Content
================================================== -->
  <div class="container">
    <div class="row">

      <!-- Content -->
      <div class="col-xl-8 col-lg-8 content-right-offset">

        <!-- Description -->
        <div class="single-page-section">
          <h3 class="margin-bottom-25">Project Description</h3>
          <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to
            corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow
            the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>

          <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day,
            going forward, a new normal that has evolved from generation X is on the runway heading towards a
            streamlined cloud solution. User generated content in real-time will have multiple touchpoints for
            offshoring.</p>

          <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the
            digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information
            highway will close the loop on focusing solely on the bottom line.</p>
        </div>

        <!-- Atachments -->
        <div class="single-page-section">
          <h3>Attachments</h3>
          <div class="attachments-container">
            <a href="#" class="attachment-box ripple-effect"><span>Project Brief</span><i>PDF</i></a>
          </div>
        </div>

        <!-- Skills -->
        <div class="single-page-section">
          <h3>Skills Required</h3>
          <div class="task-tags">
            <span>iOS</span>
            <span>Android</span>
            <span>mobile apps</span>
            <span>design</span>
          </div>
        </div>
        <div class="clearfix"></div>

        <!-- Freelancers Bidding -->
        <div class="boxed-list margin-bottom-60">
          <div class="boxed-list-headline">
            <h3><i class="icon-material-outline-group"></i> Freelancers Bidding</h3>
          </div>
          <ul class="boxed-list-ul">
            <li>
              <div class="bid">
                <!-- Avatar -->
                <div class="bids-avatar">
                  <div class="freelancer-avatar">
                    <div class="verified-badge"></div>
                    <a href="single-freelancer-profile.html"><img src="images/user-avatar-big-01.jpg" alt=""></a>
                  </div>
                </div>

                <!-- Content -->
                <div class="bids-content">
                  <!-- Name -->
                  <div class="freelancer-name">
                    <h4><a href="single-freelancer-profile.html">Tom Smith <img class="flag" src="images/flags/gb.svg"
                          alt="" data-tippy-placement="top" data-tippy="" data-original-title="United Kingdom"></a></h4>
                    <div class="star-rating" data-rating="4.9"><span class="star"></span><span class="star"></span><span
                        class="star"></span><span class="star"></span><span class="star"></span></div>
                  </div>
                </div>

                <!-- Bid -->
                <div class="bids-bid">
                  <div class="bid-rate">
                    <div class="rate">$4,400</div>
                    <span>in 7 days</span>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="bid">
                <!-- Avatar -->
                <div class="bids-avatar">
                  <div class="freelancer-avatar">
                    <div class="verified-badge"></div>
                    <a href="single-freelancer-profile.html"><img src="images/user-avatar-big-02.jpg" alt=""></a>
                  </div>
                </div>

                <!-- Content -->
                <div class="bids-content">
                  <!-- Name -->
                  <div class="freelancer-name">
                    <h4><a href="single-freelancer-profile.html">David Peterson <img class="flag" src="images/flags/de.svg"
                          alt="" data-tippy-placement="top" data-tippy="" data-original-title="Germany"></a></h4>
                    <div class="star-rating" data-rating="4.2"><span class="star"></span><span class="star"></span><span
                        class="star"></span><span class="star"></span><span class="star empty"></span></div>
                  </div>
                </div>

                <!-- Bid -->
                <div class="bids-bid">
                  <div class="bid-rate">
                    <div class="rate">$2,200</div>
                    <span>in 14 days</span>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="bid">
                <!-- Avatar -->
                <div class="bids-avatar">
                  <div class="freelancer-avatar">
                    <a href="single-freelancer-profile.html"><img src="images/user-avatar-placeholder.png" alt=""></a>
                  </div>
                </div>

                <!-- Content -->
                <div class="bids-content">
                  <!-- Name -->
                  <div class="freelancer-name">
                    <h4><a href="single-freelancer-profile.html">Marcin Kowalski <img class="flag" src="images/flags/pl.svg"
                          alt="" data-tippy-placement="top" data-tippy="" data-original-title="Poland"></a></h4>
                    <span class="not-rated">Minimum of 3 votes required</span>

                  </div>
                </div>

                <!-- Bid -->
                <div class="bids-bid">
                  <div class="bid-rate">
                    <div class="rate">$3,800</div>
                    <span>In 20 days</span>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="bid">
                <!-- Avatar -->
                <div class="bids-avatar">
                  <div class="freelancer-avatar">
                    <a href="single-freelancer-profile.html"><img src="images/user-avatar-placeholder.png" alt=""></a>
                  </div>
                </div>

                <!-- Content -->
                <div class="bids-content">
                  <!-- Name -->
                  <div class="freelancer-name">
                    <h4><a href="single-freelancer-profile.html">Sebastiano Piccio <img class="flag" src="images/flags/it.svg"
                          alt="" data-tippy-placement="top" data-tippy="" data-original-title="Italy"></a></h4>
                    <div class="star-rating" data-rating="4.5"><span class="star"></span><span class="star"></span><span
                        class="star"></span><span class="star"></span><span class="star half"></span></div>
                  </div>
                </div>

                <!-- Bid -->
                <div class="bids-bid">
                  <div class="bid-rate">
                    <div class="rate">$3,400</div>
                    <span>In 10 days</span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>

      </div>


      <!-- Sidebar -->
      <div class="col-xl-4 col-lg-4">
        <div class="sidebar-container">

          <div class="countdown green margin-bottom-35">6 days, 23 hours left</div>

          <div class="sidebar-widget">
            <div class="bidding-widget">
              <div class="bidding-headline">
                <h3>Bid on this job!</h3>
              </div>
              <div class="bidding-inner">

                <!-- Headline -->
                <span class="bidding-detail">Set your <strong>minimal rate</strong></span>

                <!-- Price Slider -->
                <div class="bidding-value">$<span id="biddingVal">3,500</span></div>
                <div class="slider slider-horizontal" id="">
                  <div class="slider-track">
                    <div class="slider-track-low" style="left: 0px; width: 0%;"></div>
                    <div class="slider-selection" style="left: 0%; width: 50%;"></div>
                    <div class="slider-track-high" style="right: 0px; width: 50%;"></div>
                  </div>
                  <div class="tooltip tooltip-main top hide" role="presentation" style="left: 50%;">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner">3500</div>
                  </div>
                  <div class="tooltip tooltip-min top hide" role="presentation">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner"></div>
                  </div>
                  <div class="tooltip tooltip-max top hide" role="presentation">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner"></div>
                  </div>
                  <div class="slider-handle min-slider-handle custom" role="slider" aria-valuemin="2500" aria-valuemax="4500"
                    aria-valuenow="3500" tabindex="0" style="left: 50%;"></div>
                  <div class="slider-handle max-slider-handle custom hide" role="slider" aria-valuemin="2500"
                    aria-valuemax="4500" aria-valuenow="2500" tabindex="0" style="left: 0%;"></div>
                </div><input class="bidding-slider" type="text" value="3500" data-slider-handle="custom"
                  data-slider-currency="$" data-slider-min="2500" data-slider-max="4500" data-slider-value="3500"
                  data-slider-step="50" data-slider-tooltip="hide" style="display: none;" data-value="3500">

                <!-- Headline -->
                <span class="bidding-detail margin-top-30">Set your <strong>delivery time</strong></span>

                <!-- Fields -->
                <div class="bidding-fields">
                  <div class="bidding-field">
                    <!-- Quantity Buttons -->
                    <div class="qtyButtons">
                      <div class="qtyDec"></div>
                      <input type="text" name="qtyInput" value="1">
                      <div class="qtyInc"></div>
                    </div>
                  </div>
                  <div class="bidding-field">
                    <div class="btn-group bootstrap-select default"><button type="button" class="btn dropdown-toggle btn-default"
                        data-toggle="dropdown" role="button" title="Days"><span class="filter-option pull-left">Days</span>&nbsp;<span
                          class="bs-caret"><span class="caret"></span></span></button>
                      <div class="dropdown-menu open" role="combobox">
                        <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                          <li data-original-index="0" class="selected"><a tabindex="0" class="" data-tokens="null" role="option"
                              aria-disabled="false" aria-selected="true"><span class="text">Days</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                          <li data-original-index="1"><a tabindex="0" class="" data-tokens="null" role="option"
                              aria-disabled="false" aria-selected="false"><span class="text">Hours</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                        </ul>
                      </div><select class="selectpicker default" tabindex="-98">
                        <option selected="">Days</option>
                        <option>Hours</option>
                      </select>
                    </div>
                  </div>
                </div>

                <!-- Button -->
                <button id="snackbar-place-bid" class="button ripple-effect move-on-hover full-width margin-top-30"><span>Place
                    a Bid</span></button>

              </div>
              <div class="bidding-signup">Don't have an account? <a href="#sign-in-dialog" class="register-tab sign-in popup-with-zoom-anim">Sign
                  Up</a></div>
            </div>
          </div>

          <!-- Sidebar Widget -->
          <div class="sidebar-widget">
            <h3>Bookmark or Share</h3>

            <!-- Bookmark Button -->
            <button class="bookmark-button margin-bottom-25">
              <span class="bookmark-icon"></span>
              <span class="bookmark-text">Bookmark</span>
              <span class="bookmarked-text">Bookmarked</span>
            </button>

            <!-- Copy URL -->
            <div class="copy-url">
              <input id="copy-url" type="text" value="" class="with-border">
              <button class="copy-url-button ripple-effect" data-clipboard-target="#copy-url" data-tippy-placement="top"
                data-tippy="" data-original-title="Copy to Clipboard"><i class="icon-material-outline-file-copy"></i></button>
            </div>

            <!-- Share Buttons -->
            <div class="share-buttons margin-top-25">
              <div class="share-buttons-trigger"><i class="icon-feather-share-2"></i></div>
              <div class="share-buttons-content">
                <span>Interesting? <strong>Share It!</strong></span>
                <ul class="share-buttons-icons">
                  <li><a href="#" data-button-color="#3b5998" data-tippy-placement="top" data-tippy=""
                      data-original-title="Share on Facebook" style="background-color: rgb(59, 89, 152);"><i class="icon-brand-facebook-f"></i></a></li>
                  <li><a href="#" data-button-color="#1da1f2" data-tippy-placement="top" data-tippy=""
                      data-original-title="Share on Twitter" style="background-color: rgb(29, 161, 242);"><i class="icon-brand-twitter"></i></a></li>
                  <li><a href="#" data-button-color="#dd4b39" data-tippy-placement="top" data-tippy=""
                      data-original-title="Share on Google Plus" style="background-color: rgb(221, 75, 57);"><i class="icon-brand-google-plus-g"></i></a></li>
                  <li><a href="#" data-button-color="#0077b5" data-tippy-placement="top" data-tippy=""
                      data-original-title="Share on LinkedIn" style="background-color: rgb(0, 119, 181);"><i class="icon-brand-linkedin-in"></i></a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>


  <!-- Spacer -->
  <div class="margin-top-15"></div>
  <!-- Spacer / End-->

  <!-- Footer
================================================== -->
  <div id="footer">

    <!-- Footer Top Section -->
    <div class="footer-top-section">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">

            <!-- Footer Rows Container -->
            <div class="footer-rows-container">

              <!-- Left Side -->
              <div class="footer-rows-left">
                <div class="footer-row">
                  <div class="footer-row-inner footer-logo">
                    <img src="images/logo2.png" alt="">
                  </div>
                </div>
              </div>

              <!-- Right Side -->
              <div class="footer-rows-right">

                <!-- Social Icons -->
                <div class="footer-row">
                  <div class="footer-row-inner">
                    <ul class="footer-social-links">
                      <li>
                        <a href="#" data-tippy-placement="bottom" data-tippy-theme="light" data-tippy=""
                          data-original-title="Facebook">
                          <i class="icon-brand-facebook-f"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#" data-tippy-placement="bottom" data-tippy-theme="light" data-tippy=""
                          data-original-title="Twitter">
                          <i class="icon-brand-twitter"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#" data-tippy-placement="bottom" data-tippy-theme="light" data-tippy=""
                          data-original-title="Google Plus">
                          <i class="icon-brand-google-plus-g"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#" data-tippy-placement="bottom" data-tippy-theme="light" data-tippy=""
                          data-original-title="LinkedIn">
                          <i class="icon-brand-linkedin-in"></i>
                        </a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                </div>

                <!-- Language Switcher -->
                <div class="footer-row">
                  <div class="footer-row-inner">
                    <div class="btn-group bootstrap-select language-switcher"><button type="button" class="btn dropdown-toggle btn-default"
                        data-toggle="dropdown" role="button" title="English"><span class="filter-option pull-left">English</span>&nbsp;<span
                          class="bs-caret"><span class="caret"></span></span></button>
                      <div class="dropdown-menu open" role="combobox">
                        <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                          <li data-original-index="0" class="selected"><a tabindex="0" class="" data-tokens="null" role="option"
                              aria-disabled="false" aria-selected="true"><span class="text">English</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                          <li data-original-index="1"><a tabindex="0" class="" data-tokens="null" role="option"
                              aria-disabled="false" aria-selected="false"><span class="text">Français</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                          <li data-original-index="2"><a tabindex="0" class="" data-tokens="null" role="option"
                              aria-disabled="false" aria-selected="false"><span class="text">Español</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                          <li data-original-index="3"><a tabindex="0" class="" data-tokens="null" role="option"
                              aria-disabled="false" aria-selected="false"><span class="text">Deutsch</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                        </ul>
                      </div><select class="selectpicker language-switcher" data-selected-text-format="count" data-size="5"
                        tabindex="-98">
                        <option selected="">English</option>
                        <option>Français</option>
                        <option>Español</option>
                        <option>Deutsch</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!-- Footer Rows Container / End -->
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Top Section / End -->

    <!-- Footer Middle Section -->
    <div class="footer-middle-section">
      <div class="container">
        <div class="row">

          <!-- Links -->
          <div class="col-xl-2 col-lg-2 col-md-3">
            <div class="footer-links">
              <h3>For Candidates</h3>
              <ul>
                <li><a href="#"><span>Browse Jobs</span></a></li>
                <li><a href="#"><span>Add Resume</span></a></li>
                <li><a href="#"><span>Job Alerts</span></a></li>
                <li><a href="#"><span>My Bookmarks</span></a></li>
              </ul>
            </div>
          </div>

          <!-- Links -->
          <div class="col-xl-2 col-lg-2 col-md-3">
            <div class="footer-links">
              <h3>For Employers</h3>
              <ul>
                <li><a href="#"><span>Browse Candidates</span></a></li>
                <li><a href="#"><span>Post a Job</span></a></li>
                <li><a href="#"><span>Post a Task</span></a></li>
                <li><a href="#"><span>Plans &amp; Pricing</span></a></li>
              </ul>
            </div>
          </div>

          <!-- Links -->
          <div class="col-xl-2 col-lg-2 col-md-3">
            <div class="footer-links">
              <h3>Helpful Links</h3>
              <ul>
                <li><a href="#"><span>Contact</span></a></li>
                <li><a href="#"><span>Privacy Policy</span></a></li>
                <li><a href="#"><span>Terms of Use</span></a></li>
              </ul>
            </div>
          </div>

          <!-- Links -->
          <div class="col-xl-2 col-lg-2 col-md-3">
            <div class="footer-links">
              <h3>Account</h3>
              <ul>
                <li><a href="#"><span>Log In</span></a></li>
                <li><a href="#"><span>My Account</span></a></li>
              </ul>
            </div>
          </div>

          <!-- Newsletter -->
          <div class="col-xl-4 col-lg-4 col-md-12">
            <h3><i class="icon-feather-mail"></i> Sign Up For a Newsletter</h3>
            <p>Weekly breaking news, analysis and cutting edge advices on job searching.</p>
            <form action="#" method="get" class="newsletter">
              <input type="text" name="fname" placeholder="Enter your email address">
              <button type="submit"><i class="icon-feather-arrow-right"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Middle Section / End -->

    <!-- Footer Copyrights -->
    <div class="footer-bottom-section">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            © 2019 <strong>Hireo</strong>. All Rights Reserved.
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Copyrights / End -->

  </div>
  <!-- Footer / End -->

</div>