<div class="card w-50 ">
  <app-your-token [token]="myToken"></app-your-token>
  <app-time-remaining [time]="remtime"></app-time-remaining>
  <app-next-token (onBtnClick)="getData($event)"></app-next-token>
</div>