<div class="">
    <input type="text" placeholder="username" required [(ngModel)]="username">
    <input type="text" placeholder="Password" required [(ngModel)]="password">

    <div>
        <button class="btn btn-primary" (click)="onLogin()">Login</button><button class="btn btn-primary" (click)="onClear()">Clear</button>
    </div>

</div>