li{
    list-style: none;
    font-style: italic;
    border-bottom: 1px solid gray;
    margin: 10px;
    padding: 10px;
    background-color: aqua;        
            
}
ul{
    background: grey;
}