<div id="wrapper" class="mm-page mm-slideout">

  <proj-header></proj-header>

  <!-- Spacer -->
  <div class="
  margin-top-90"></div>
  <!-- Spacer / End-->

  <!-- Page Content
================================================== -->
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4">
        <div class="sidebar-container">

          <!-- Location -->
          <div class="sidebar-widget">
            <h3>Location</h3>
            <div class="input-with-icon">
              <div id="autocomplete-container">
                <input id="autocomplete-input" type="text" placeholder="Location" autocomplete="off">
              </div>
              <i class="icon-material-outline-location-on"></i>
            </div>
          </div>

          <!-- Category -->
          <div class="sidebar-widget">
            <h3>Category</h3>
            <div class="btn-group bootstrap-select show-tick default"><button type="button" class="btn dropdown-toggle bs-placeholder btn-default"
                data-toggle="dropdown" role="button" title="All Categories"><span class="filter-option pull-left">All
                  Categories</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button>
              <div class="dropdown-menu open" role="combobox">
                <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                  <li data-original-index="0"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false"
                      aria-selected="false"><span class="text">Admin Support</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                  <li data-original-index="1"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false"
                      aria-selected="false"><span class="text">Customer Service</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                  <li data-original-index="2"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false"
                      aria-selected="false"><span class="text">Data Analytics</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                  <li data-original-index="3"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false"
                      aria-selected="false"><span class="text">Design &amp; Creative</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                  <li data-original-index="4"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false"
                      aria-selected="false"><span class="text">Legal</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                  <li data-original-index="5"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false"
                      aria-selected="false"><span class="text">Software Developing</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                  <li data-original-index="6"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false"
                      aria-selected="false"><span class="text">IT &amp; Networking</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                  <li data-original-index="7"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false"
                      aria-selected="false"><span class="text">Writing</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                  <li data-original-index="8"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false"
                      aria-selected="false"><span class="text">Translation</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                  <li data-original-index="9"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false"
                      aria-selected="false"><span class="text">Sales &amp; Marketing</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                </ul>
              </div><select class="selectpicker default" multiple="" data-selected-text-format="count" data-size="7"
                title="All Categories" tabindex="-98">
                <option>Admin Support</option>
                <option>Customer Service</option>
                <option>Data Analytics</option>
                <option>Design &amp; Creative</option>
                <option>Legal</option>
                <option>Software Developing</option>
                <option>IT &amp; Networking</option>
                <option>Writing</option>
                <option>Translation</option>
                <option>Sales &amp; Marketing</option>
              </select>
            </div>
          </div>

          <!-- Keywords -->
          <div class="sidebar-widget">
            <h3>Keywords</h3>
            <div class="keywords-container">
              <div class="keyword-input-container">
                <input type="text" class="keyword-input" placeholder="e.g. task title">
                <button class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
              </div>
              <div class="keywords-list" style="height: auto;">
                <!-- keywords go here -->
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <!-- Budget -->
          <div class="sidebar-widget">
            <h3>Fixed Price</h3>
            <div class="margin-top-55"></div>

            <!-- Range Slider -->
            <div class="slider slider-horizontal" id="">
              <div class="slider-track">
                <div class="slider-track-low" style="left: 0px; width: 0%;"></div>
                <div class="slider-selection" style="left: 0%; width: 100%;"></div>
                <div class="slider-track-high" style="right: 0px; width: 0%;"></div>
              </div>
              <div class="tooltip tooltip-main top" role="presentation" style="left: 50%;">
                <div class="tooltip-arrow"></div>
                <div class="tooltip-inner">$10 - $2,500</div>
              </div>
              <div class="tooltip tooltip-min top" role="presentation" style="left: 0%;">
                <div class="tooltip-arrow"></div>
                <div class="tooltip-inner">$NaN - $NaN</div>
              </div>
              <div class="tooltip tooltip-max top" role="presentation" style="left: 100%;">
                <div class="tooltip-arrow"></div>
                <div class="tooltip-inner">$NaN - $NaN</div>
              </div>
              <div class="slider-handle min-slider-handle round" role="slider" aria-valuemin="10" aria-valuemax="2500"
                aria-valuenow="10" aria-valuetext="$NaN - $NaN" tabindex="0" style="left: 0%;"></div>
              <div class="slider-handle max-slider-handle round" role="slider" aria-valuemin="10" aria-valuemax="2500"
                aria-valuenow="2500" aria-valuetext="$NaN - $NaN" tabindex="0" style="left: 100%;"></div>
            </div><input class="range-slider" type="text" value="10,2500" data-slider-currency="$" data-slider-min="10"
              data-slider-max="2500" data-slider-step="25" data-slider-value="[10,2500]" data-value="10,2500" style="display: none;">
          </div>

          <!-- Hourly Rate -->
          <div class="sidebar-widget">
            <h3>Hourly Rate</h3>
            <div class="margin-top-55"></div>

            <!-- Range Slider -->
            <div class="slider slider-horizontal" id="">
              <div class="slider-track">
                <div class="slider-track-low" style="left: 0px; width: 0%;"></div>
                <div class="slider-selection" style="left: 0%; width: 100%;"></div>
                <div class="slider-track-high" style="right: 0px; width: 0%;"></div>
              </div>
              <div class="tooltip tooltip-main top" role="presentation" style="left: 50%;">
                <div class="tooltip-arrow"></div>
                <div class="tooltip-inner">$10 - $150</div>
              </div>
              <div class="tooltip tooltip-min top" role="presentation" style="left: 0%;">
                <div class="tooltip-arrow"></div>
                <div class="tooltip-inner">$NaN - $NaN</div>
              </div>
              <div class="tooltip tooltip-max top" role="presentation" style="left: 100%;">
                <div class="tooltip-arrow"></div>
                <div class="tooltip-inner">$NaN - $NaN</div>
              </div>
              <div class="slider-handle min-slider-handle round" role="slider" aria-valuemin="10" aria-valuemax="150"
                aria-valuenow="10" aria-valuetext="$NaN - $NaN" tabindex="0" style="left: 0%;"></div>
              <div class="slider-handle max-slider-handle round" role="slider" aria-valuemin="10" aria-valuemax="150"
                aria-valuenow="150" aria-valuetext="$NaN - $NaN" tabindex="0" style="left: 100%;"></div>
            </div><input class="range-slider" type="text" value="10,150" data-slider-currency="$" data-slider-min="10"
              data-slider-max="150" data-slider-step="5" data-slider-value="[10,200]" data-value="10,150" style="display: none;">
          </div>

          <!-- Tags -->
          <div class="sidebar-widget">
            <h3>Skills</h3>

            <div class="tags-container">
              <div class="tag">
                <input type="checkbox" id="tag1">
                <label for="tag1">front-end dev</label>
              </div>
              <div class="tag">
                <input type="checkbox" id="tag2">
                <label for="tag2">angular</label>
              </div>
              <div class="tag">
                <input type="checkbox" id="tag3">
                <label for="tag3">react</label>
              </div>
              <div class="tag">
                <input type="checkbox" id="tag4">
                <label for="tag4">vue js</label>
              </div>
              <div class="tag">
                <input type="checkbox" id="tag5">
                <label for="tag5">web apps</label>
              </div>
              <div class="tag">
                <input type="checkbox" id="tag6">
                <label for="tag6">design</label>
              </div>
              <div class="tag">
                <input type="checkbox" id="tag7">
                <label for="tag7">wordpress</label>
              </div>
            </div>
            <div class="clearfix"></div>

            <!-- More Skills -->
            <div class="keywords-container margin-top-20">
              <div class="keyword-input-container">
                <input type="text" class="keyword-input" placeholder="add more skills">
                <button class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
              </div>
              <div class="keywords-list" style="height: auto;">
                <!-- keywords go here -->
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="clearfix"></div>

        </div>
      </div>
      <div class="col-xl-9 col-lg-8 content-left-offset">

        <h3 class="page-title">Search Results</h3>

        <div class="notify-box margin-top-15">
          <div class="switch-container">
            <label class="switch"><input type="checkbox"><span class="switch-button"></span><span class="switch-text">Turn
                on email alerts for this search</span></label>
          </div>

          <div class="sort-by">
            <span>Sort by:</span>
            <div class="btn-group bootstrap-select hide-tick"><button type="button" class="btn dropdown-toggle btn-default"
                data-toggle="dropdown" role="button" title="Relevance"><span class="filter-option pull-left">Relevance</span>&nbsp;<span
                  class="bs-caret"><span class="caret"></span></span></button>
              <div class="dropdown-menu open" role="combobox">
                <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                  <li data-original-index="0" class="selected"><a tabindex="0" class="" data-tokens="null" role="option"
                      aria-disabled="false" aria-selected="true"><span class="text">Relevance</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                  <li data-original-index="1"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false"
                      aria-selected="false"><span class="text">Newest</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                  <li data-original-index="2"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false"
                      aria-selected="false"><span class="text">Oldest</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                  <li data-original-index="3"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false"
                      aria-selected="false"><span class="text">Random</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                </ul>
              </div><select class="selectpicker hide-tick" tabindex="-98">
                <option>Relevance</option>
                <option>Newest</option>
                <option>Oldest</option>
                <option>Random</option>
              </select>
            </div>
          </div>
        </div>

        <!-- Tasks Container -->
        <div class="tasks-list-container compact-list margin-top-35">

          <!-- Task -->
          <a href="single-task-page.html" class="task-listing">

            <!-- Job Listing Details -->
            <div class="task-listing-details">

              <!-- Details -->
              <div class="task-listing-description">
                <h3 class="task-listing-title">Food Delviery Mobile App</h3>
                <ul class="task-icons">
                  <li><i class="icon-material-outline-location-on"></i> San Francisco</li>
                  <li><i class="icon-material-outline-access-time"></i> 2 minutes ago</li>
                </ul>
                <p class="task-listing-text">Leverage agile frameworks to provide a robust synopsis for high level
                  overviews. Iterative approaches to corporate strategy foster.</p>
                <div class="task-tags">
                  <span>iOS</span>
                  <span>Android</span>
                  <span>mobile apps</span>
                  <span>design</span>
                </div>
              </div>

            </div>

            <div class="task-listing-bid">
              <div class="task-listing-bid-inner">
                <div class="task-offers">
                  <strong>$1,000 - $2,500</strong>
                  <span>Fixed Price</span>
                </div>
                <span class="button button-sliding-icon ripple-effect">Bid Now <i class="icon-material-outline-arrow-right-alt"></i></span>
              </div>
            </div>
          </a>

          <!-- Task -->
          <a href="single-task-page.html" class="task-listing">

            <!-- Job Listing Details -->
            <div class="task-listing-details">

              <!-- Details -->
              <div class="task-listing-description">
                <h3 class="task-listing-title">2000 Words English to German</h3>
                <ul class="task-icons">
                  <li><i class="icon-material-outline-location-off"></i> Online Job</li>
                  <li><i class="icon-material-outline-access-time"></i> 5 minutes ago</li>
                </ul>
                <p class="task-listing-text">Bring to the table win-win strategies to ensure domination and user
                  generated content in real-time will have multiple touchpoints.</p>
                <div class="task-tags">
                  <span>copywriting</span>
                  <span>translating</span>
                  <span>editing</span>
                </div>
              </div>

            </div>

            <div class="task-listing-bid">
              <div class="task-listing-bid-inner">
                <div class="task-offers">
                  <strong>$75</strong>
                  <span>Fixed Price</span>
                </div>
                <span class="button button-sliding-icon ripple-effect">Bid Now <i class="icon-material-outline-arrow-right-alt"></i></span>
              </div>
            </div>
          </a>

          <!-- Task -->
          <a href="single-task-page.html" class="task-listing">

            <!-- Job Listing Details -->
            <div class="task-listing-details">

              <!-- Details -->
              <div class="task-listing-description">
                <h3 class="task-listing-title">Fix Python Selenium Code</h3>
                <ul class="task-icons">
                  <li><i class="icon-material-outline-location-off"></i> Online Job</li>
                  <li><i class="icon-material-outline-access-time"></i> 30 minutes ago</li>
                </ul>
                <p class="task-listing-text">Capitalize on low hanging fruit to identify a ballpark value added
                  activity to beta test. Override the digital divide with additional.</p>
                <div class="task-tags">
                  <span>Python</span>
                  <span>Flask</span>
                  <span>API Development</span>
                </div>
              </div>

            </div>

            <div class="task-listing-bid">
              <div class="task-listing-bid-inner">
                <div class="task-offers">
                  <strong>$100 - $150</strong>
                  <span>Hourly Rate</span>
                </div>
                <span class="button button-sliding-icon ripple-effect">Bid Now <i class="icon-material-outline-arrow-right-alt"></i></span>
              </div>
            </div>
          </a>

          <!-- Task -->
          <a href="single-task-page.html" class="task-listing">

            <!-- Job Listing Details -->
            <div class="task-listing-details">

              <!-- Details -->
              <div class="task-listing-description">
                <h3 class="task-listing-title">WordPress Theme Installation</h3>
                <ul class="task-icons">
                  <li><i class="icon-material-outline-location-off"></i> Online Job</li>
                  <li><i class="icon-material-outline-access-time"></i> 1 hour ago</li>
                </ul>
                <p class="task-listing-text">Completely synergize resource taxing relationships via premier niche
                  markets. Professionally cultivate customer service with robust ideas.</p>
                <div class="task-tags">
                  <span>WordPress</span>
                  <span>Theme Installation</span>
                </div>
              </div>

            </div>

            <div class="task-listing-bid">
              <div class="task-listing-bid-inner">
                <div class="task-offers">
                  <strong>$100</strong>
                  <span>Fixed Price</span>
                </div>
                <span class="button button-sliding-icon ripple-effect">Bid Now <i class="icon-material-outline-arrow-right-alt"></i></span>
              </div>
            </div>
          </a>

          <!-- Task -->
          <a href="single-task-page.html" class="task-listing">

            <!-- Job Listing Details -->
            <div class="task-listing-details">

              <!-- Details -->
              <div class="task-listing-description">
                <h3 class="task-listing-title">PHP Core Website Fixes</h3>
                <ul class="task-icons">
                  <li><i class="icon-material-outline-location-off"></i> Online Job</li>
                  <li><i class="icon-material-outline-access-time"></i> 1 hour ago</li>
                </ul>
                <p class="task-listing-text">Objectively innovate empowered manufactured products whereas parallel
                  platforms. Extensible testing procedures for reliable supply.</p>
                <div class="task-tags">
                  <span>PHP</span>
                  <span>MySQL Administration</span>
                  <span>API Development</span>
                </div>
              </div>

            </div>

            <div class="task-listing-bid">
              <div class="task-listing-bid-inner">
                <div class="task-offers">
                  <strong>$50 - $80</strong>
                  <span>Hourly Rate</span>
                </div>
                <span class="button button-sliding-icon ripple-effect">Bid Now <i class="icon-material-outline-arrow-right-alt"></i></span>
              </div>
            </div>
          </a>

        </div>
        <!-- Tasks Container / End -->


        <!-- Pagination -->
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12">
            <!-- Pagination -->
            <div class="pagination-container margin-top-60 margin-bottom-60">
              <nav class="pagination">
                <ul>
                  <li class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>
                  <li><a href="#" class="ripple-effect">1</a></li>
                  <li><a href="#" class="current-page ripple-effect">2</a></li>
                  <li><a href="#" class="ripple-effect">3</a></li>
                  <li><a href="#" class="ripple-effect">4</a></li>
                  <li class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <!-- Pagination / End -->

      </div>
    </div>
  </div>


  <!-- Footer
================================================== -->
  <div id="footer">

    <!-- Footer Top Section -->
    <div class="footer-top-section">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">

            <!-- Footer Rows Container -->
            <div class="footer-rows-container">

              <!-- Left Side -->
              <div class="footer-rows-left">
                <div class="footer-row">
                  <div class="footer-row-inner footer-logo">
                    <img src="images/logo2.png" alt="">
                  </div>
                </div>
              </div>

              <!-- Right Side -->
              <div class="footer-rows-right">

                <!-- Social Icons -->
                <div class="footer-row">
                  <div class="footer-row-inner">
                    <ul class="footer-social-links">
                      <li>
                        <a href="#" data-tippy-placement="bottom" data-tippy-theme="light" data-tippy=""
                          data-original-title="Facebook">
                          <i class="icon-brand-facebook-f"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#" data-tippy-placement="bottom" data-tippy-theme="light" data-tippy=""
                          data-original-title="Twitter">
                          <i class="icon-brand-twitter"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#" data-tippy-placement="bottom" data-tippy-theme="light" data-tippy=""
                          data-original-title="Google Plus">
                          <i class="icon-brand-google-plus-g"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#" data-tippy-placement="bottom" data-tippy-theme="light" data-tippy=""
                          data-original-title="LinkedIn">
                          <i class="icon-brand-linkedin-in"></i>
                        </a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                </div>

                <!-- Language Switcher -->
                <div class="footer-row">
                  <div class="footer-row-inner">
                    <div class="btn-group bootstrap-select language-switcher"><button type="button" class="btn dropdown-toggle btn-default"
                        data-toggle="dropdown" role="button" title="English"><span class="filter-option pull-left">English</span>&nbsp;<span
                          class="bs-caret"><span class="caret"></span></span></button>
                      <div class="dropdown-menu open" role="combobox">
                        <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                          <li data-original-index="0" class="selected"><a tabindex="0" class="" data-tokens="null" role="option"
                              aria-disabled="false" aria-selected="true"><span class="text">English</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                          <li data-original-index="1"><a tabindex="0" class="" data-tokens="null" role="option"
                              aria-disabled="false" aria-selected="false"><span class="text">Français</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                          <li data-original-index="2"><a tabindex="0" class="" data-tokens="null" role="option"
                              aria-disabled="false" aria-selected="false"><span class="text">Español</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                          <li data-original-index="3"><a tabindex="0" class="" data-tokens="null" role="option"
                              aria-disabled="false" aria-selected="false"><span class="text">Deutsch</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                        </ul>
                      </div><select class="selectpicker language-switcher" data-selected-text-format="count" data-size="5"
                        tabindex="-98">
                        <option selected="">English</option>
                        <option>Français</option>
                        <option>Español</option>
                        <option>Deutsch</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!-- Footer Rows Container / End -->
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Top Section / End -->

    <!-- Footer Middle Section -->
    <div class="footer-middle-section">
      <div class="container">
        <div class="row">

          <!-- Links -->
          <div class="col-xl-2 col-lg-2 col-md-3">
            <div class="footer-links">
              <h3>For Candidates</h3>
              <ul>
                <li><a href="#"><span>Browse Jobs</span></a></li>
                <li><a href="#"><span>Add Resume</span></a></li>
                <li><a href="#"><span>Job Alerts</span></a></li>
                <li><a href="#"><span>My Bookmarks</span></a></li>
              </ul>
            </div>
          </div>

          <!-- Links -->
          <div class="col-xl-2 col-lg-2 col-md-3">
            <div class="footer-links">
              <h3>For Employers</h3>
              <ul>
                <li><a href="#"><span>Browse Candidates</span></a></li>
                <li><a href="#"><span>Post a Job</span></a></li>
                <li><a href="#"><span>Post a Task</span></a></li>
                <li><a href="#"><span>Plans &amp; Pricing</span></a></li>
              </ul>
            </div>
          </div>

          <!-- Links -->
          <div class="col-xl-2 col-lg-2 col-md-3">
            <div class="footer-links">
              <h3>Helpful Links</h3>
              <ul>
                <li><a href="#"><span>Contact</span></a></li>
                <li><a href="#"><span>Privacy Policy</span></a></li>
                <li><a href="#"><span>Terms of Use</span></a></li>
              </ul>
            </div>
          </div>

          <!-- Links -->
          <div class="col-xl-2 col-lg-2 col-md-3">
            <div class="footer-links">
              <h3>Account</h3>
              <ul>
                <li><a href="#"><span>Log In</span></a></li>
                <li><a href="#"><span>My Account</span></a></li>
              </ul>
            </div>
          </div>

          <!-- Newsletter -->
          <div class="col-xl-4 col-lg-4 col-md-12">
            <h3><i class="icon-feather-mail"></i> Sign Up For a Newsletter</h3>
            <p>Weekly breaking news, analysis and cutting edge advices on job searching.</p>
            <form action="#" method="get" class="newsletter">
              <input type="text" name="fname" placeholder="Enter your email address">
              <button type="submit"><i class="icon-feather-arrow-right"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Middle Section / End -->

    <!-- Footer Copyrights -->
    <div class="footer-bottom-section">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            © 2019 <strong>Hireo</strong>. All Rights Reserved.
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Copyrights / End -->

  </div>
  <!-- Footer / End -->

</div>