*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #24272e;
}

header{
    background: white;
    padding: 10px;

}
header >h1{
    color: black;
    text-align: center;
    
}
.score-board{
    margin: 20px auto;
    border: 4px solid white;
    width: 200px;
    color: white;
    padding: 15px 20px;
    position: relative;
    text-align: center;
    font-size: 30px;
    
}
.images
{
    height:50px; width:50px;
}
.badge{
    background: red;
    font-size: 14px;
    padding: 2px 10px;

}
#user-label{
    position: absolute;
    top: 15px;
    left: -25px;
}

#computer-label{
    position: absolute;
    top: 15px;
    right: -25px;
}



.result{
    font-size: 40px;
    color: white;
    
}
.result>p{
    text-align: center;
    font-weight: bold;
}

.choices{
    text-align: center;
    margin: 40px 0;
}
.choice{
    border: 4px solid white;
    border-radius: 50px;
    margin: 0 10px;
    padding: 10px;
    display: inline-block;
}

#reset{
   text-align: center;
    margin: 10px;
  
 
    
    
}
.images1
{
    height:50px; width:50px;
}
#reset :hover{
       cursor: pointer;

}

.choice :hover{
    cursor: pointer;
    
}
#action-message{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}