
<!-- Header -->
<div class="col-md-12">
  <app-header></app-header>
</div>
<!-- Main Body -->
<div class="row">
  <div class='col-md-4'>
    <app-branch></app-branch>
  </div>
  <div class="col-md-8">
    <app-student></app-student>
  </div>

</div>


<!-- Footer -->
<div class="col-md-12">
  <app-footer></app-footer>
</div>