<h1 style="color:paleturquoise">
  User Registration

</h1>
<div class="form">
  <ul class="list">
    <li>
      <p>First Name</p>
    </li>
    <li><input type="text" name="First name" placeholder="First name" required></li>
    <li>
      <p>Last Name</p>
    </li>
    <li><input type="text" name="Last Name" placeholder="Last Name" required></li>
    <li>
      <p>Email</p>
    </li>
    <li><input type="email" name="email" placeholder="youremail@gmail.com" required></li>
    <li>
      <p>Password</p>
    </li>
    <li><input type="password" name="Password" placeholder="Password" required></li>
    <li>I Agree to<a href="#">Term And Condition</a></li>
    <li><button class="btn btn-primary " (click)="onRegister()" aria-required="true">Register</button> </li>
  </ul>
</div>