<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"><img style="height:50px; width: 100px" src="assets/img/logo.jpg"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a (click)="Logout()">Logout</a></li>

    </ul>
  </div>
</nav>