<div class="page-header">
  <h1>World Trade Center<small>America</small></h1>
</div>

<table class="table table-bordered">
  <thead>

    <tr>
      <th>rollno</th>
      <th>name</th>
      <th>branch</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{student.rollno}}</td>
      <td>{{student.name}}</td>
      <td>{{student.branch}}</td>

    </tr>
    <tr *ngIf="getinput">
      <td>
        <input type="text" [(ngModel)]="student.rollno">
      </td>
      <td>
        <input type="text" [(ngModel)]="student.name">
      </td>
      <td>
        <input type="text" [(ngModel)]="student.branch">
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button (click)="addStudent()">Add</button>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>