<div class="intro-banner" data-background-image="images/home-background.jpg">
  <div class="container">

    <!-- Intro Headline -->
    <div class="row">
      <div class="col-md-12">
        <div class="banner-headline">
          <h3>
            <strong>Hire experts or be hired for any job, any time.</strong>
            <br>
            <span>Thousands of small businesses use <strong class="color">Hireo</strong> to turn their ideas into
              reality.</span>
          </h3>
        </div>
      </div>
    </div>

    <!-- Search Bar -->
    <div class="row">
      <div class="col-md-12">
        <div class="intro-banner-search-form margin-top-95">

          <!-- Search Field -->
          <div class="intro-search-field with-autocomplete with-label">
            <label for="autocomplete-input" class="field-title ripple-effect">Where?</label>
            <div class="input-with-icon">
              <input id="autocomplete-input" type="text" placeholder="Online Job" autocomplete="off">
              <i class="icon-material-outline-location-on"></i>
            </div>
          </div>

          <!-- Search Field -->
          <div class="intro-search-field with-label">
            <label for="intro-keywords" class="field-title ripple-effect">What job you want?</label>
            <input id="intro-keywords" type="text" placeholder="Job Title or Keywords">
          </div>

          <!-- Button -->
          <div class="intro-search-button">
            <button class="button ripple-effect" onclick="window.location.href='jobs-list-layout-full-page-map.html'">Search</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Stats -->
    <div class="row">
      <div class="col-md-12">
        <ul class="intro-stats margin-top-45 hide-under-992px">
          <li>
            <strong class="counter">1,586</strong>
            <span>Jobs Posted</span>
          </li>
          <li>
            <strong class="counter">3,543</strong>
            <span>Tasks Posted</span>
          </li>
          <li>
            <strong class="counter">1,232</strong>
            <span>Freelancers</span>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="background-image-container" style="background-image: url(&quot;images/home-background.jpg&quot;);"></div>
</div>